server {
        listen       {{ nginx_port }} default_server;
        server_name  {{ server_hostname }};
 
	location = /favicon.ico { access_log off; log_not_found off; }

	location /static {
		alias /var/www/{{ aa_project_name }}/static;
		autoindex off;
	}

        location / {
		include proxy_params;
		proxy_pass http://127.0.0.1:8000;
        }
 
}
