[program:{{ aa_username }}_{{ aa_project_name }}-gunicorn]
user = {{ aa_username }}
directory={{ venv_path }}/
command={{ venv_bin }}/gunicorn {{ aa_project_name }}.wsgi --workers={{ gunicorn_workers }} --bind 127.0.0.1:{{ gunicorn_port }} --timeout 120
autostart=true
autorestart=true
stopsignal=INT
